.container{
	margin: 0;
	text-align: center;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	cursor: pointer;
	background: url(../images/lookout.jpg) no-repeat center center;
	background-size: cover;
	.logo{
		width: 200px;
		height: auto;
		margin: 0;
	}
	img{
		width: 80%;
		height: auto;
		max-width: 80%;
	}
	.marquee-wrapper{
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 100px;
	}

	.marquee-wrapper2{
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		height: 100px;
	}

	.marquee-middle{
		position: absolute;
		top: 27.5%;
		left: 0;
		width: 100%;
		height: 100px;
	}

	.marquee-middle-bottom{
		position: absolute;
		top: 57.5%;
		left: 0;
		width: 100%;
		height: 100px;
	}
	.marquee,
	.marquee2{
		font-family: 'ClanPro';
		font-size: 2em;
		color: white;
		visibility: hidden;
		white-space: nowrap;
		overflow: hidden;
		@include uppercase();
		@include mq("large"){
			font-size: 6em;
		}
		img{
			display: inline-block;
			height: 25px;
			width: auto;
			margin: 0 -25px 0 0;
			@include mq("large"){
				height: 75px;
			}
		}
		p{
			display: inline-block;
			margin: 0 10px;
		}
	}
}
